[submodule "third_party/RAFT"]
	path = third_party/RAFT
	url = https://github.com/princeton-vl/RAFT.git
[submodule "third_party/amt"]
	path = third_party/amt
	url = https://github.com/MCG-NKU/AMT.git
[submodule "third_party/mega-sam"]
	path = third_party/mega-sam
	url = https://github.com/mega-sam/mega-sam.git
	ignore = dirty
[submodule "third_party/sam2"]
	path = third_party/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "third_party/depth-anything-3"]
	path = third_party/depth-anything-3
	url = https://github.com/ByteDance-Seed/depth-anything-3.git
[submodule "third_party/HPSv3"]
	path = third_party/HPSv3
	url = https://github.com/MizzenAI/HPSv3.git
[submodule "third_party/transnetv2_pytorch"]
	path = third_party/transnetv2_pytorch
	url = https://github.com/YangTuanAnh/transnetv2_pytorch.git
	ignore = dirty
